<div class="users-legend">
  <div
    *ngFor="let user of users"
    class="user-item"
    [class.selected]="isUserSelected(user)"
    [class.clickable]="showToggle"
    (click)="onUserClick(user)">
    <div
      class="color-indicator"
      [style.backgroundColor]="user.color">
    </div>
    <span class="user-name">{{ user.name }}</span>
    <svg
      *ngIf="showToggle && isUserSelected(user)"
      class="check-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <polyline points="20 6 9 17 4 12"></polyline>
    </svg>
  </div>
</div>